.carousel-card {
  cursor: inherit;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  pointer-events: none;
}

.card-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 4px;
}
